$present: rgba(140, 162, 93, 0.31);
$late: rgba(3, 7, 6, 0.22);
$absent: rgba(198, 98, 98, 0.55);
$unmarked: white;

.col-md-3 {
  padding: 3px 40px;
}

.thumbnail {
  border: 1px solid black;
  background: $unmarked;
  height: 175px;
  text-align: center;
  &.present {
    background: $present;
  }
  &.absent {
    background: $absent;
  }
  &.late {
    background: $late;
  }
  &.selected {
    opacity: 0.4;
  }

  .caption {
    margin: 0;
    padding: 0;
    &:hover {
      cursor:pointer;
    }

    h6 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 1.0em;
    }
  }

  .marked {

    span {
      font-size: 1.2em;
      padding-right: 5px;
    }
  }
  .mark {
    border: 1px solid black;
    font-size: 1.2em;
    height: 30px;

    span {
      padding: 2px 20px;
      &:hover {
        cursor:pointer;
      }
    }
  }
}

footer {
  button {
    margin-right: 4px;
  }
}



